body{
background-color:#f8f9fa;
}

.container{
margin-top:30px;
}

.badge-En_stock{
background-color:#198754;
}

.badge-Stock_bajo{
background-color:#ffc107;
color:#000;
}

.badge-Agotado{
background-color:#dc3545;
}

.img-producto{
width:60px;
height:60px;
object-fit:cover;
border-radius:5px;
}