body{
background-color:#f8f9fa;
}

.container{
margin-top:30px;
}

.badge-En_stock{
background-color:#198754;
}

.badge-Stock_bajo{
background-color:#ffc107;
color:#000;
}

.badge-Agotado{
background-color:#dc3545;
}

.img-producto{
width:60px;
height:60px;
object-fit:cover;
border-radius:5px;
}

.img-producto{

width:60px;
height:60px;

object-fit:cover;

border-radius:8px;

cursor:pointer;

transition:0.2s;

}

.img-producto:hover{

transform:scale(1.8);

}

.img-producto{

width:60px;
height:60px;

object-fit:cover;

border-radius:8px;

cursor:pointer;

transition:0.2s;

}

.img-producto:hover{

transform:scale(1.8);

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:15px 40px;

background:#c8102e;
color:white;

}