<nav class="navbar">

<div class="nav-left">
<a href="index.html" class="logo">TOISHAN</a>
</div>

<div class="nav-right">

<a id="areaEmpleado" href="area_empleados.html" class="empleados-link" style="display:none">
Área empleados
</a>

<a href="mis_pedidos.html" class="nav-link">
    Ver mis pedidos
</a>

<a href="carrito.html" class="nav-link">
    Carrito <span id="carrito-count" class="badge bg-danger">0</span>
</a>

<div class="usuario-menu">

<button id="btnUsuario" class="usuario-btn">
👤 <span id="usuarioInfo">Invitado</span>
</button>

<div id="dropdownUsuario" class="dropdown">

<a id="btnLogin" href="login.html">Iniciar sesión</a>

<a href="perfil.html" id="perfilLink">Mi perfil</a>

<button id="btnLogout" onclick="logout()">Cerrar sesión</button>

</div>

</div>

</div>

</nav>